$basic-green: #68b738;
$basic-gren-2: #5eaa2f;
$basic-gray: #f2f2f2;
$gray: #eaeaea;
$special-gray: #cdcdcd;
$special-gray-2:#666666;
$special-dark-gray: #444444;
$special-dark-gray-2: #222222;
$cod-gray: #111111;
$status-error: #ff8282;
$basic-white: #ffffff;
$basic-black: #000000;
$default-gray: #e5e5e5;
$mercury: #e7e7e7;
$alto: #d9d9d9;
