.social {
  @include reset-list;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid $alto;
  border-bottom: 1px solid $alto;
  padding-top: 20px;
  padding-bottom: 21px;
}

.social-item-vk {
  margin-right: 36px;
}

.social-item-instagram {
  margin-right: 33px;
}
